.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  width: 375px;
  height: 100%;
  background-color: #ccc;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

#darksky img {
  width: 100%;
}

#current {
  border-radius: 20px;
  margin: 10px;
}

#current h2 {
  margin: 0;
}

#current-weather {
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: left;
}

#current-weather .left {
  font-size: 3em;
  font-weight: 700;
  padding: 0 20px 0 20px;
}

#current-weather .right ul {
  margin: 0px;
  list-style-type: none;
  padding: 0;
}

.uv-key {
  display: table;
  width: 80%;
  margin: auto;
  padding: 5px;
  table-layout: fixed;
}

.uv-key div {
  display: table-cell;
}

#future-weather div {
  margin: 5px 10px 5px 10px;
  border-radius: 10px;
  width: calc(100% - 30px);
  display: table;
  table-layout: fixed;
}

#future-weather div span {
  display: table-cell;
}

.skycon canvas {
  display: inline;
  height: 1em;
  width: 1em;
}
